In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [6]:
from google.colab import files
uploaded = files.upload()

Saving tyre_sales_clean.csv to tyre_sales_clean (1).csv

In [7]:
df = pd.read_csv('tyre_sales_clean.csv')

In [14]:
df.head(31)

,sale_id,date,region,tyre_type,tyre_size,units_sold,unit_price,total_sales,revenue
0,S00001,2024-04-12,South,Biased,18,147.0,4408,647976.0,647976.0
1,S00002,2024-06-28,East,Biased,15,90.0,5160,464400.0,464400.0
2,S00003,2024-04-02,North,Biased,18,113.0,4801,542513.0,542513.0
3,S00004,2024-01-15,North,Radial,14,104.0,3784,393536.0,393536.0
4,S00005,2024-04-16,Eest,Biased,16,139.0,5033,699587.0,699587.0
5,S00006,2024-03-12,North,Biased,18,67.0,4148,277916.0,277916.0
6,S00007,2024-07-07,North,Radial,14,65.0,3865,251225.0,251225.0
7,S00008,2024-01-21,East,Radial,18,136.0,5143,699448.0,699448.0
8,S00009,2024-04-12,North,Biased,15,95.0,4591,436145.0,436145.0
9,S00010,2024-05-01,West,Biased,18,85.0,4627,393295.0,393295.0
10,S00011,2024-03-15,South,Biased,15,139.0,4924,684436.0,684436.0
11,S00012,2024-03-28,East,Biased,15,115.0,4769,548435.0,548435.0
12,S00013,2024-04-26,South,Biased,14,93.0,5200,483600.0,483600.0
13,S00014,2024-04-09,North,Biased,17,54.0,3691,199314.0,199314.0
14,S00015,2024-04-13,North,Radial,18,78.0,5230,407940.0,407940.0
15,S00016,2024-05-31,West,Radial,16,53.0,4143,219579.0,219579.0
16,S00017,2024-05-10,East,Biased,15,148.0,4819,713212.0,713212.0
17,S00018,2024-05-29,North,Biased,17,135.0,4667,630045.0,630045.0
18,S00019,2024-02-22,East,Biased,15,98.0,4406,431788.0,431788.0
19,S00021,2024-03-28,East,Biased,17,134.0,3525,472350.0,472350.0
20,S00022,2024-06-06,East,Radial,16,57.0,4774,272118.0,272118.0
21,S00023,2024-02-07,East,Radial,17,101.0,5130,518130.0,518130.0
22,S00024,2024-05-09,South,Biased,16,118.0,5389,635902.0,635902.0
23,S00025,2024-07-10,West,Radial,14,70.0,4211,294770.0,294770.0
24,S00026,2024-07-06,East,Biased,15,76.0,4114,312664.0,312664.0
25,S00027,2024-01-21,South,Radial,16,87.0,3692,321204.0,321204.0
26,S00028,2024-06-09,North,Biased,15,54.0,3880,209520.0,209520.0
27,S00030,2024-01-22,North,Radial,14,110.0,5282,581020.0,581020.0
28,S00031,2024-03-29,East,Radial,18,57.0,5126,NaN,292182.0
29,S00032,2024-02-18,South,Radial,18,135.0,4568,616680.0,616680.0
30,S00033,2024-02-28,South,Biased,17,67.0,4438,297346.0,297346.0

In [9]:
for col in ['price', 'units_sold']:
    if col in df.columns:
        df[col] = df[col].fillna(df[col].median())

In [10]:
text_cols = ['region', 'tyre_type']

for col in text_cols:
    if col in df.columns:
        df[col] = df[col].fillna('Unknown')

In [16]:
df['total_sales'] = df['total_sales'].fillna(df['total_sales'].median())

In [18]:
df.isnull().sum()

sale_id        0
date           0
region         0
tyre_type      0
tyre_size      0
units_sold     0
unit_price     0
total_sales    0
revenue        0
dtype: int64

In [19]:
df.duplicated().sum()

np.int64(0)

In [20]:
df.dtypes

sale_id         object
date            object
region          object
tyre_type       object
tyre_size        int64
units_sold     float64
unit_price       int64
total_sales    float64
revenue        float64
dtype: object

In [24]:
df['date'] = pd.to_datetime(df['date'])
df['tyre_size'] = pd.to_numeric(df['tyre_size'], errors='coerce')
df['units_sold'] = pd.to_numeric(df['units_sold'], errors='coerce')
df['unit_price'] = pd.to_numeric(df['unit_price'], errors='coerce')
df['total_sales'] = pd.to_numeric(df['total_sales'], errors='coerce')
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')

In [25]:
df.isnull().sum()

sale_id        0
date           0
region         0
tyre_type      0
tyre_size      0
units_sold     0
unit_price     0
total_sales    0
revenue        0
bill_date      0
price          0
dtype: int64

In [27]:
df[['units_sold','unit_price','total_sales','revenue']].describe()

        units_sold   unit_price    total_sales        revenue
count  9125.000000  9125.000000    9125.000000    9125.000000
mean     99.827507  4497.232548  448499.418137  448815.136438
std      28.718533   580.686306  139852.917163  142111.771739
min      50.000000  3500.000000  175650.000000  175650.000000
25%      75.000000  3996.000000  335930.000000  332369.000000
50%     100.000000  4495.000000  443617.500000  443958.000000
75%     125.000000  5002.000000  547041.000000  552041.000000
max     149.000000  5499.000000  815924.000000  815924.000000

In [28]:
df['units_sold'] = df['units_sold'].clip(lower=df['units_sold'].quantile(0.01),
                                         upper=df['units_sold'].quantile(0.99))

df['unit_price'] = df['unit_price'].clip(lower=df['unit_price'].quantile(0.01),
                                         upper=df['unit_price'].quantile(0.99))

df['total_sales'] = df['total_sales'].clip(lower=df['total_sales'].quantile(0.01),
                                           upper=df['total_sales'].quantile(0.99))

df['revenue'] = df['revenue'].clip(lower=df['revenue'].quantile(0.01),
                                   upper=df['revenue'].quantile(0.99))

In [29]:
df[['units_sold','unit_price','total_sales','revenue']].describe()

        units_sold   unit_price    total_sales        revenue
count  9125.000000  9125.000000    9125.000000    9125.000000
mean     99.826630  4497.204612  448421.049804  448726.537184
std      28.688606   580.299482  139286.424900  141554.884106
min      51.000000  3520.240000  200853.240000  200073.520000
25%      75.000000  3996.000000  335930.000000  332369.000000
50%     100.000000  4495.000000  443617.500000  443958.000000
75%     125.000000  5002.000000  547041.000000  552041.000000
max     148.000000  5476.000000  762528.640000  762767.880000

In [30]:
df.to_csv('tyre_sales_cleaned_final.csv', index=False)
from google.colab import files
files.download('tyre_sales_cleaned_final.csv')